body {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.631);
    background-color: rgb(255, 236, 213);
}

.capitolo {
    text-align: center;
}


#page {
    width: 90%;
    margin-top: 20%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
}

#about-me {
    background-color: hsla(37, 78%, 62%, 0.805);
}

#work {
    background-color: hsla(42, 81%, 67%, 0.818);
}

#contatti {
    background-color: hsl(41, 78%, 61%);
}

.section {
    padding: 16px;
}


.gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px; 
}

.gallery figure {
    width: 100%;
    margin: 0;
}


.gallery img {
    width: 100%;
    height: 250px;      
    object-fit: cover;  
    display: block;
    border-radius: 6px; 
}


@media (min-width: 992px) {
    .gallery {
        flex-direction: row;
        justify-content: space-between;
    }

    .gallery figure {
        width: 30%;
    }
}
