body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-bottom);
}

.contenitore {
    position: relative;
    width: 100%;
    height: 100dvh;
    flex-direction: column;
    overflow: hidden ;
}

.sfondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('immagini/sfondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    z-index: 0;
   
}

.testo {
    font-size: 80px;
    font-family: "Charlotte", sans-serif;
    color: #ff0000;
    position: absolute;
    bottom: 10%;       
    left: 50%;         
    transform: translateX(-50%);
    text-align: center;
    z-index: 15;
    width: 100%;
}

@font-face {
  font-family: "Charlotte";
  src: url("../fonts/Charlotte.ttf") format("truetype");
}

.memories {
    position: absolute;
    bottom: 2%; 
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    z-index: 14; 
    align-items: center;
}

.polaroid {
    position: absolute;
    width: 45vw;
    max-width: 350px;
    height: auto;
}

.p1 {
    top: 15%;
    right: 20%;
    transform: rotate(-15deg);
    z-index: 4;
}

.p2 {
    top: 25%;
    left: 1%;
    transform: rotate(10deg); 
    z-index: 5;
}

.p3 {
    top: 1%;
    left: 50%;
    transform: rotate(5deg); 
    z-index: 3;
}

.p4 {
    bottom: 30%;
    right: 5%;
    transform: rotate(25deg); 
    z-index: 6;
}

.p5 {
    bottom: 65%;
    right: 53%;
    transform: rotate(-15deg); 
    z-index: 3;
}

.p6 {
    bottom: 35%;
    right: 30%;
    transform: rotate(-10deg); 
    z-index: 6;
}

.p7 {
    top: 1%;
    right: 2%;
    transform: rotate(10deg); 
    z-index: 8;
}
.p8 {
    bottom: 20%;
    right: 10%;
    transform: rotate(-30deg); 
    z-index: 9;
}

.p9 {
    top: 50%;
    right: 50%;
    transform: rotate(15deg); 
    z-index: 10;
}


@media (min-width: 992px) {

     .contenitore {
        flex-direction: row;
        align-items: flex-start;
    }

    .testo {
        top: 5%;
        left: 50%;
        transform: translateX(-50%) rotate(-5deg);
        width: auto;
    }
    
    .testo p {
        font-size: 160px;
    }

    
    .memories {
        top: 43%; 
        left: 48%;
        right: auto;
        transform: translate(-50%, -50%);
        width: 600px;
    }

    .polaroid {
        width: 900px;
        padding: 10px 10px 40px 10px;
    }

    .p1 {
        top: 15%;
        left: 2%; 
        right: auto;
        transform: rotate(-15deg);
    }

    .p2 {
        top: 10%;
        left: auto;
        right: 15%;
        transform: rotate(10deg); 
    }

    .p3 {
        top: auto;
        bottom: 4%;
        left: 8%;
        transform: rotate(5deg); 
        z-index: 8;
    }

    .p4 {
        top: auto; 
        bottom: 1%;
        right: 5%;
        left: auto;
        transform: rotate(30deg); 
    }
    
    .p5 {
        top: 60%;
        left: 40%;
        transform: translateX(-50%) rotate(-10deg);
    }

    .p6 {
        bottom: 15%;
        right: 30%;
        transform: rotate(-10deg); 
        z-index: 6;
    }

    .p7 {
        top: 1%;
        right: 2%;
        transform: rotate(10deg); 
        z-index: 8;
    }
    .p8 {
        bottom: 20%;
        right: 10%;
        transform: rotate(-30deg); 
        z-index: 9;
    }

    .p9 {
        top: 30%;
        right: 55%;
        transform: rotate(15deg); 
        z-index: 10;
    }
}