body {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.631);
    background-color: rgb(255, 207, 238);
    margin: 0;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: white;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    z-index: 10;
    box-shadow: 0 2px 10px rgba(ff,ff,ff,0.1);
}


.navbar-testo {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
    white-space: nowrap;
    list-style: none; /* Rimuove i pallini */
    padding: 0;
}

/* Ogni voce principale del menu */
.nav-item {
    position: relative; /* Fondamentale per posizionare la tendina sotto */
    margin-right: 35vw; /* Ho ridotto un po' il margine per far entrare tutto */
    cursor: pointer;    /* Fa comparire la manina del mouse */
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    padding: 10px 10px 0px 10px;
    border-radius: 4px;
    z-index: 1001;
    
    display: none; 
    list-style: none;
}

.dropdown-menu li {
    margin-bottom: 15px; /* Aggiunge un po' di spazio extra tra le righe */
}

.nav-link{
    font-weight:bold;
}

.dropdown-menu{
    font-weight:lighter;
}

a, a:link{
    color: #000000;
    text-decoration: none;
    
} 
  
a:hover, a:focus{
    color: hsla(324, 100%, 72%, 0.818);
} 

/* --- Classe che attiveremo con JS --- */
.nav-item.active .dropdown-menu {
    display: block; /* Mostra la tendina */
    animation: scendi 0.3s ease; /* Effetto animazione */
}

/* Animazione di discesa */
@keyframes scendi {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

.foto{
    padding-top: 10%;
    padding-bottom: 10%;
    transform: translateX(20%);
}

.capitolo {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px,5px,20px, 5px;
}

.font{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#page {
    width: 90%;
    margin-top: 20%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
}

#about-me {
    background-color: hsla(297, 100%, 79%, 0.805);
}

#work {
    background-color: hsla(324, 100%, 72%, 0.818);
}

#contatti {
    background-color: hsl(323, 46%, 45%);
}

.section {
    padding: 16px;
}


.gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px; 
}

.gallery figure {
    width: 100%;
    margin: 0;
}


.gallery img {
    width: 100%;
    height: 250px;      
    object-fit: cover;  
    display: block;
    border-radius: 6px; 
}


@media (min-width: 992px) {
    .gallery {
        flex-direction: row;
        justify-content: space-between;
    }

    .gallery figure {
        width: 30%;
    }
}
