body {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.631);
    background-color: rgb(255, 207, 238);
}

.capitolo {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px,5px,20px, 5px;
}

.font{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#page {
    width: 90%;
    margin-top: 20%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
}

#about-me {
    background-color: hsla(297, 100%, 79%, 0.805);
}

#work {
    background-color: hsla(324, 100%, 72%, 0.818);
}

#contatti {
    background-color: hsl(323, 46%, 45%);
}

.section {
    padding: 16px;
}


.gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px; 
}

.gallery figure {
    width: 100%;
    margin: 0;
}


.gallery img {
    width: 100%;
    height: 250px;      
    object-fit: cover;  
    display: block;
    border-radius: 6px; 
}


@media (min-width: 992px) {
    .gallery {
        flex-direction: row;
        justify-content: space-between;
    }

    .gallery figure {
        width: 30%;
    }
}
