
body{
    
}

.contenitore{
    position: relative;
    width: 100%;
    height: 100dvh;
    flex-direction: column;
}

h1{
    font-size: 100px;
    position: absolute;
    bottom: 50%;
    left: 45%;
    transition-property: all;
    transition-duration: 350ms;
    transition-timing-function: ease;
    transition-delay: 0.5s;

    animation-name: pulse;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 1s; 
    -o-animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

h1:hover{
    font-weight: 10;
    color: #ff0000;
}

h1:active{
    animation-play-state: running;
}

@keyframes pulse{
    from{
        transform: scale(100%);
    }
    to{
        transform: scale(150%);
    }
}