html{
    font: 16px;
}

#page{
    width: 100vw;
    height: 100dvh;
    background-color: #fad58d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.shape{
    width: 100vw;
    color: #fff;
    background-color: hsl(0, 0%, 20%, 0.5);
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.square-1{
    width: 100px;
    background-color: hsla(0,100%, 50%, 0.5);
}
.square-2{
    width: 100px;
    background-color: hsla(30,100%, 50%, 0.5);
}
.square-3{
    width: 100px;
    background-color: hsla(60,100%, 50%, 0.5);
}

.circle-1{
    width: 100px;
    border-radius: 50%;
    background-color: hsla(260, 82%, 45%, 0.5);
}
.circle-2{
    width: 100px;
    border-radius: 50%;
    background-color: hsla(200, 82%, 45%, 0.5);
}
.circle-3{
    width: 100px;
    border-radius: 50%;
    background-color: hsla(170, 82%, 45%, 0.5);
}

.pos-r1 {
    position: relative;
    top: 20px;
    left: 20px;
}

.pos-r2 {
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 5;
}

.pos-r3 {
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 5;
}

.pos-r4 {
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 5;
}

.pos-a1 {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 5;
}

.pos-a2 {
    position: absolute;
    top: -20px;
    left: 20px;
    z-index: 5;
}

.pos-f1 {
    position: fixed;
    bottom: 0px;
    right: 45px;
    z-index: 5;
}
